

.page-socios.page-socios-new
  = image_tag('logo-one.png', class: 'img-principal')


  .col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2
    .page-title
      %h1 Regístrate

    = render 'form'


